.vs
.vscode
.idea
.gradle
/win-cliient/3rdParty/src/http/httpclient/x64
/win-cliient/3rdParty/src/libogg/x64
/win-cliient/3rdParty/src/libsecurity/win/
/win-cliient/lib
/win-cliient/obj
/win-cliient/3rdParty/src/libsecurity/lib/win
/win-cliient/solution/libsecurity/obj
/win-cliient/bin/teamtalk/Release
/win-cliient/bin/teamtalk/Debug
/win-cliient\bin\teamtalk\Release
/win-cliient\bin\teamtalk\Debug
/win-cliient/3rdParty/src/libspeex/libspeex/x64
/win-cliient/3rdParty/src/libspeex/speexdec/x64
/win-cliient/core/DuiLib/x64
/win-cliient/core/network/x64
/win-cliient/core/utility/x64
/win-cliient/src/GifSmiley/x64
/win-cliient/src/Modules/x64
/win-cliient/lib

/android/mgimlibs/build
/android/app/build
/android/local.properties
/android/daogenerator/build
/android/daogenerator/bin
/server/solution
/server/src/libsecurity/android/obj
/server/src/libsecurity/android/gen
/server/src/libsecurity/android/libs
/server/src/libsecurity/android/bin
/server/src/libsecurity/src/out
/server/src/lib
*.log

/docker/mysql_data
/win-cliient/solution/libsecurity
